body {
    background: #C0DEED url(bg-clouds.png) repeat-x;

    font-family: CorpoS;
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

a {
    color: #2276BB;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

textarea {
    resize: none;
}

.message {
    color: gray;
}

.message a {
    color: gray;
}

.view-container {
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
}

.tweetbox {
    height: auto;

    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    margin: 6%;
    padding: 3%;
    background-color: white;
    -webkit-border-radius: 8px;
    -webkit-box-shadow: 3px 3px 3px #666;
}

#signin-content {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    font-size: 22px;

    margin: 25%;
    padding: 24px;
    background-color: white;
    -webkit-border-radius: 12px;
    -webkit-box-shadow: 3px 3px 3px #666;
}

#signin-content label {
    display: block;
}

.signinbox input {
    background: white;
    border: 2px solid #DDD;
    border-bottom-left-radius: 4px 4px;
    border-bottom-right-radius: 4px 4px;
    border-top-left-radius: 4px 4px;
    border-top-right-radius: 4px 4px;
    display: block;
    font: normal normal normal 22px/normal 'CorpoS';
    margin: 0px 0px 8px;
    padding: 5px;
    width: 218px;
}

textarea {
    background: white;
    border: 2px solid #DDD;
    border-bottom-left-radius: 4px 4px;
    border-bottom-right-radius: 4px 4px;
    border-top-left-radius: 4px 4px;
    border-top-right-radius: 4px 4px;
    display: block;
    font: normal normal normal 22px/normal 'CorpoS';
    margin: 0px 0px 8px;
    padding: 5px;
}

#signin-submit {
    background: #39D url('bg-btn-blue.png') repeat-x scroll 0px 0px;
    border: solid #39D;
    -webkit-border-radius: 4px;
    color: white;
    font-size: 22px;
    font-weight: bold;
    margin: 0px 5px 0px 0px;
    padding: 4px 10px 5px;
    text-shadow: #39D 0px -1px 0px;
}

#signin-error {
    display: none;
    float: right;
    background-color: red;
    color: white;
    -webkit-border-radius: 4px;
    padding: 4px;
}

#signin-submit:hover {
    cursor: pointer;
}

.tweet-text {
    height: 80%;
    overflow: hidden;
}

.tweet-footer {
    height: 20%;
    overflow: hidden;
}

#twitter-focus-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 15%;
    margin-right: 15%;
    padding: 24px;
    /* height: 100%; */

    background-color: white;
    -webkit-border-radius: 12px;
    -webkit-box-shadow: 3px 3px 3px #666;
}

#status-update-content {
    width: 50%;
    font-size: 25px;
}

#status-update-content textarea {
    width: 100%;
}

#post-status {
    width: 100%;
}

#status-update-button {
    float: right;
}

#charcount {
    float: right;
}

#charcount.warning {
    color: red;
}

.tweetlist {
    clear: right;
    overflow-y: auto;
    font-size: 25px;
    height: 75%;
}

.tweetlist-item {
    padding: 6px;
    border-bottom: 1px solid gray;
    margin: 6px;
    background-color: white;
    -webkit-transition: background-color 0.3s linear;
}

.tweetlist-item:hover {
    background-color: #eeeeee;
    -webkit-transition: background-color 0.3s linear;
}

.tweetlist-avatar {
    margin-right: 12px;
    float: left;
}

.tweetlist-avatar img {
    width: 50px;
    height: 50px;
}

.tweet-controls {
    opacity: 0.0;
    float: right;
}

.tweet-controls.active {
    opacity: 1.0;
    -webkit-transition: opacity 0.3s linear;
}