body {
    background: #C0DEED url(bg-clouds.png) repeat-x;

    font-family: CorpoS;
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

a {
    color: #2276BB;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

textarea {
    resize: none;
}

.message {
    color: gray;
}

.view-container {
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
}

.tweetbox {
    height: auto;

    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    margin: 6%;
    padding: 3%;
    background-color: white;
    -webkit-border-radius: 8px;
    -webkit-box-shadow: 3px 3px 3px #666;
}

#login-content {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    font-size: 22px;
    text-align: center;

    margin: 25%;
    padding: 24px;
    background-color: white;
    -webkit-border-radius: 12px;
    -webkit-box-shadow: 3px 3px 3px #666;
}


.tweet-text {
    height: 80%;
    overflow: hidden;
}

.tweet-footer {
    height: 20%;
    overflow: hidden;
}

#twitter-focus-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 25%;
    margin-right: 25%;
    padding: 24px;
    /* height: 100%; */

    background-color: white;
    -webkit-border-radius: 12px;
    -webkit-box-shadow: 3px 3px 3px #666;
}

#status-update-content {
    width: 66%;
    font-size: 25px;
}

#status-update-content textarea {
    width: 100%;
}

#post-status {
    width: 100%;
}

#status-update-button {
    float: right;
}

#charcount {
    float: right;
}

#charcount.warning {
    color: red;
}

.tweetlist {
    clear: right;
    overflow-y: auto;
    font-size: 25px;
    height: 75%;
}

.tweetlist-item {
    padding: 6px;
    border-bottom: 1px solid gray;
    margin: 6px;
}

.tweetlist-avatar {
    margin-right: 12px;
    float: left;
}
