body {
    background: #C0DEED url(bg-clouds.png) repeat-x;

    font-family: CorpoS;
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

a {
    color: #2276BB;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.message {
    color: gray;
}

.view-container {
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
}

.tweetbox {
    height: auto;

    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    margin: 6%;
    padding: 3%;
    background-color: white;
    -webkit-border-radius: 8px;
    -webkit-box-shadow: 3px 3px 3px #666;
}

#login-content {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    font-size: 22px;
    text-align: center;

    margin: 25%;
    padding: 24px;
    background-color: white;
    -webkit-border-radius: 12px;
    -webkit-box-shadow: 3px 3px 3px #666;
}


.tweet_text {
    height: 80%;
    overflow: hidden;
}

.tweet_footer {
    height: 20%;
    overflow: hidden;
}
